.popup__close {
    position: absolute;
    cursor: pointer;
    transition: ease-in-out .2s;
    background: transparent;
    left: 420px;
    top: -50px;
}

.popup__close:hover {
    opacity: .6;
}

@media screen and (max-width: 767px) {
    .popup__close {
        width: 26px;
        top: -39.62px;
        left: 255px;
    }
}