.popup__close {
    cursor: pointer;
    transition: opacity .2s ease-in-out;
    background: transparent;
}

.popup__close:hover {
    opacity: .6;
}

@media screen and (max-width: 767px) {
    .popup__close {
        width: 30px;
    }
}