.popup__close {
    position: absolute;
    right: -48px;
    top: -48px;
    cursor: pointer;
    transition: ease-in-out .2s;
    background: transparent;
}

.popup__close:hover {
    opacity: .6;
}

@media screen and (max-width: 767px) {
    .popup__close {
        width: 26px;
        right: 0;
        top: -39.62px;
    }
}