.photo-editor__container-close {
    border: none;
    padding: 0;
    cursor: pointer;
    background: transparent;
    position: absolute;
    left: 420px;
    top: -50px;
    transition: opacity .2s ease-in-out;
}

@media screen and (max-width: 767px) {
    .photo-editor__container-close {
        width: 26px;
        top: -39.62px;
        left: 255px;
    }
}